.notice {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.notice .section-title {
    text-align: center;
}

.notice .grid-list {
    margin-block: 60px;
}

.notice-card {
    position: relative;
    background-color: var(--white);
    border-radius: var(--radius-6);
    overflow: hidden;
    padding: 5px;
}

.notice-card .card-banner {
    background-color: var(--light-gray);
    aspect-ratio: 370 / 270;
    overflow: hidden;
    border-radius: 6px;
}

/* .notice-card .img-cover {
   padding: 5px;
   border-radius: 6px;
} */

.notice-card .card-banner img {
    transition: var(--transition-2);
}

.notice-card:is(:hover, :focus-within) .card-banner img {
    transform: scale(1.1);
}

.notice-card .card-actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.notice-card .date-badge {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--white);
    color: var(--ultramarine-blue);
    font-size: var(--fs-6);
    font-weight: var(--fw-600);
    padding: 4px 12px;
    border-radius: var(--radius-4);
}

.notice-card .save-btn {
    background-color: var(--space-cadet_20);
    color: var(--white);
    font-size: 18px;
    padding: 6px;
    margin: 5px;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    transition: var(--transition-2);
}

.notice-card .save-btn:hover {
    color: var(--ultramarine-blue);
}

.notice-card .save-btn:hover ion-icon {
    transform: scale(1.1);
}

.notice-card .card-content {
    padding: 25px 20px;
}

.notice-card .card-title {
    line-height: 1.6;
    margin-block: 10px 15px;
    transition: var(--transition-1);
}

.notice-card .card-title:is(:hover, :focus) {
    color: var(--ultramarine-blue);
}


.notice-card .tag-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block-end: 25px;
}

.notice-card .people-icon {
    font-size: 18px;
}


.notice-card .branch {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}



.notice-card .card-footer {
    padding-block-start: 25px;
    border-block-start: 1px solid var(--cultured-2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.notice-card .card-btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    padding: 3px 8px;
    border-radius: var(--radius-4);
    transition: var(--transition-1);
}

.notice .btn-load-more {
    margin-inline: auto;
    background-color: var(--ultramarine-blue);
    color: white;
}

.notice .btn-load-more.disabled {
    cursor: not-allowed;
    pointer-events: none;
    background-color: var(--space-cadet_20); 
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 575px screen
 */

@media (min-width: 575px) {}


/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {
    .notice-card .card-content {
            padding-inline: 30px;
            padding-block-end: 30px;
        }
}


/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {}


/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {
  :is(.notice) .grid-list {
        grid-template-columns: repeat(3, 1fr);
    }
}